<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset=utf-8 />
	<title>ColorBox Examples</title>

	<link media="screen" rel="stylesheet" href="colorbox.css" />
	<script src="../colorbox/jquery-1.4.1.min.js"></script>
	<script src="../colorbox/jquery.colorbox.js"></script>
	<script>
		$(document).ready(function(){
			//Examples of how to assign the ColorBox event to elements
			$("a[rel='example1']").colorbox();
		});
	</script>
</head>
<body>
	<h1>ColorBox Demonstration</h1>
	
	<h2>Elastic Transition</h2>
	<p><a href="../content/ohoopee1.jpg" rel="example1" title="Me and my grandfather on the Ohoopee.">Grouped Photo 1</a></p>
</body>
</html>